<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Welcome to the Online Learning Platform</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">

</head>
<body>
    <div class="container">
        <header>
            <h1>Welcome to the Online Learning Platform</h1>
            <p>Your gateway to knowledge and growth</p>
        </header>
        <div class="buttons">
            <a href="/login" class="button">Login</a>
            <a href="/signup" class="button">Sign Up</a>
        </div>
    </div>
</body>
</html>
